</main>
</div>
<footer class="govuk-footer " role="contentinfo">
	<div class="govuk-width-container ">
		<div class="govuk-footer__navigation">
			<div class="govuk-footer__section">
				<h2 class="govuk-footer__heading govuk-heading-m">Other rail resources</h2>
				<ul class="govuk-footer__list govuk-footer__list--columns-2">
					<li class="govuk-footer__list-item">
						<a class="govuk-footer__link" href="http://ojp.nationalrail.co.uk/">
							National Rail Enquiries journey planner
						</a>
					</li>
					<li class="govuk-footer__list-item">
						<a class="govuk-footer__link" href="https://wiki.openraildata.com/index.php/Main_Page">
							Open Rail Data Wiki
						</a>
					</li>
					<li class="govuk-footer__list-item">
						<a class="govuk-footer__link" href="https://groups.google.com/d/forum/openraildata-talk">
							Open Rail Data Talk
						</a>
					</li>
					<li class="govuk-footer__list-item">
						<a class="govuk-footer__link" href="https://www.opentraintimes.com/">
							OpenTrainTimes
						</a>
					</li>
					<li class="govuk-footer__list-item">
						<a class="govuk-footer__link" href="https://kiwiirc.com/client/chat.freenode.net/#osm-signal">
							#osm-signal chatroom on freenode
						</a>
					</li>
				</ul>
			</div>
		</div>
		<hr class="govuk-footer__section-break" />
		<ul class="govuk-footer__inline-list">
			<li class="govuk-footer__inline-list-item">
				<a class="govuk-footer__link" href="https://theta.eu.org">
					an η (eta) creation
				</a>
			</li>
			<li class="govuk-footer__inline-list-item">
				<a class="govuk-footer__link" href="https://github.com/eeeeeta/osm-signal">
					Source code
				</a>
			</li>
		</ul>
		<div class="govuk-footer__meta">
			<div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
				<span class="govuk-footer__licence-description">
					Created by and copyright © 2017-19 <a href="https://theta.eu.org" class="govuk-footer__link">η (eta)</a>.
				</span>
				<span class="govuk-footer__licence-description">
					CSS from <a class="govuk-footer__link" href="https://design-system.service.gov.uk">the GOV.UK Design System</a>, licensed under MIT.
				</span>
				<span class="govuk-footer__licence-description">
					Data provided by <a class="govuk-footer__link" href="https://www.opentraintimes.com/">Network Rail</a> and <a class="govuk-footer__link" href="http://www.nationalrail.co.uk/">National Rail Enquiries</a>, under licence
				</span>
			</div>
		</div>
	</div>
</footer>
<script src="/js/standard.js"></script>
</body>
</html>
