<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="UTF-8">
		<title>{{ title }}</title>
		<link href="/css/style.css" rel="stylesheet">
		<link href="/ext/leaflet.css" rel="stylesheet">
		<script src="/ext/leaflet.js"></script>
		<script src="/js/main.js"></script>
	</head>
	<body>
