<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="UTF-8">
		<title>{{ title }} | osm-signal</title>
		<link href="/sass/style.css" rel="stylesheet">
	</head>
	<body>
		<header class="osms-header">
			<span class="osms-title heading-large">osm-signal</span>
				{{> nav }}
			</nav>
		</header>
		<div class="osms-body">
			<h2 class="page-title heading-large">{{ title }}</h2>
