{{> header }}
<p class="govuk-body-l">
<b>osm-signal</b> is an online data explorer for the UK railway system.
</p>
<p class="govuk-body">
Use this website to:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>get a live departure board for your favourite station</li>
  <li>see all trains crossing through a given location</li>
  <li>view historical and future train running information</li>
  <li>see the path your train will take on a map</li>
  <li>view details about freight trains</li>
</ul>
<p class="govuk-body">
...and possibly more in the future!
</p>
{{> movement_search}}
{{> footer }}
