{{> header }}
<center>
    <h1>Welcome to Level X-timator</h1>
</center>
<p>This little application tells you when a level crossing is about to open or
    close. Handy if you're stuck at one!</p>
{{> footer }}
