{{> header }}
<p class="govuk-body-l">
<b>osm-signal</b> is an online data explorer for the UK railway system.
</p>
<p class="govuk-body">
Use this website to:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>see all trains arriving, passing through and departing a station</li>
  <li>view historical and future train running information</li>
  <li>view details about freight trains</li>
  <li class="index-list-planned">see the path your train will take on a map</li>
  <li class="index-list-planned">estimate when level crossings will open and close</li>
</ul>
<p class="govuk-body">
...and possibly more in the future!
</p>
{{> movement_search}}
{{> footer }}
