{{> header}}
<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

	<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
		Internal server error
	</h2>

	<p>
	Sorry! Something went wrong on our end.
	<br>
	(In future, we'll put some contact details here.)
	<br>
	<a href="javascript:history.back()">Go back</a> &middot; <a href="/">Go home</a>
	</p>
</div>
{{> footer}}
