{{> header }}
<script src="/ext/leaflet.js"></script>
<script src="/ext/leaflet.draw.js"></script>
<script src="/js/main.js"></script>
<div id="mappy-map">
</div>
<div id="notifs">
</div>
{{> footer }}
