<nav>
	<ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
		<li class="govuk-header__navigation-item govuk-header__navigation-item--active">
			<a class="govuk-header__link" href="/">
				Home
			</a>
		</li>
		<li class="govuk-header__navigation-item">
			<a class="govuk-header__link" href="/schedules">
				Schedules
			</a>
		</li>
		<li class="govuk-header__navigation-item">
			<a class="govuk-header__link" href="/map">
				Station explorer
			</a>
		</li>
	</ul>
</nav>
