{{> header }}
{{> schedule_table}}
<h3>Trains running to this schedule</h3>
<ul>
	{{#each body.trains}}
	<li><a href="/train/{{this.id}}">{{this.date}} (#{{this.id}})</a></li>
	{{/each}}
</ul>
{{> footer }}
