<div class="govuk-inset-text">
	<span class="mvt-action"><strong>Guide to symbols</strong>:
	<i class="far fa-arrow-alt-circle-right"></i> - arrival &middot;
	<i class="far fa-arrow-alt-circle-left"></i> - departure &middot;
	<i class="far fa-arrow-alt-circle-up"></i> - pass through
	</span>
</div>
