{{> header}}
<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

	<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
		{{body.error_summary}}
	</h2>

	<p>
	{{body.reason}}
	<br>
	<a href="javascript:history.back()">Go back</a> &middot; <a href="/">Go home</a>
	</p>
</div>
{{> footer}}
