Dockerfile
**/*.sqlite
**/*.sqlite-*
**/*.sqlite3
**/*.sqlite3-*
*.yml
*.sh
.git*
**/target*
**/*.rs.bk
**/*.pbf
**/*.gpx
**/access_token
**/*.geojson
**/*.kml
**/.gdb_history
.#*
**/config.toml
**/Rocket.toml
**/*.swp
**/*.csv
**/*.msn
**/*.o5m
**/node_modules*
osms-web/static/sass/*
osms-web/static/js/*
osms-web/static/ext/*
