apiVersion: v1
kind: Secret
metadata:
  name: tspl-secrets
  namespace: tspl
type: Opaque
stringData:
  nrod_username:
  nrod_password:
  darwin_username:
  darwin_password:
  darwin_host:
  updater_service_account.json:
